<%- include("Partials/header.ejs"); -%>

<% pstArray.forEach((item) => { %>
  <h1><%= item.title %></h1>
  <% let truncatedBody = item.body.substring(0,100) %>
  <p><%= truncatedBody+" ... " %><a href="/posts/<%=item.title %>">Read more</a></p>
<% }); %>

<%- include('Partials/footer.ejs'); -%>
